<div class="container">
    <h1>Pessoas</h1>
    <a href="#" routerLink="/pessoa/index" class="btn btn-primary">Voltar</a>
    <div>
        <strong>Id:</strong>
        <p>{{ pessoa.id }}</p>
    </div>
    <div>
        <strong>Status:</strong>
        <p>{{ pessoa.status }}</p>
    </div>
    <div>
        <strong>CPF:</strong>
        <p>{{ pessoa.cpf }}</p>
    </div>
    <div>
        <strong>Nome:</strong>
        <p>{{ pessoa.nome }}</p>
    </div>
    <div>
        <strong>Email:</strong>
        <p>{{ pessoa.email }}</p>
    </div>
    <div>
        <strong>Senha:</strong>
        <p>{{ pessoa.senha }}</p>
    </div>
</div>