<div class="container">
  <br>
  <h1>Criar Pessoa</h1><br><br>
  <a href="#" routerLink="/pessoa/index" class="btn btn-primary">Voltar</a>
  <form [formGroup]="form" (ngSubmit)="submit()">

    <!-- Radio button para Status -->
    <div class="form-group">
      <label>Status:</label>
      <div class="form-check">
        <input formControlName="status" id="status-ativo" type="radio" [value]="true" class="form-check-input">
        <label for="status-ativo" class="form-check-label">Ativo</label>
      </div>
      <div class="form-check">
        <input formControlName="status" id="status-inativo" type="radio" [value]="false" class="form-check-input">
        <label for="status-inativo" class="form-check-label">Inativo</label>
      </div>
    </div>

    <!-- Campo para CPF -->
    <div class="form-group">
      <label for="cpf">CPF:</label>
      <input formControlName="cpf" id="cpf" type="text" maxlength="14" class="form-control" (input)="formatCPF($event)">
      <div *ngIf="f['cpf'].touched && f['cpf'].invalid" class="text-danger">
        <div *ngIf="f['cpf'].errors?.['required']">
          CPF é necessário.
        </div>
        <div *ngIf="f['cpf'].errors?.['pattern']">
          Desculpe... Me perdi! Redigite o CPF no formato 000.000.000-00.
        </div>
      </div>
    </div>

    <!-- Campo para Nome -->
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input formControlName="nome" id="nome" type="text" maxlength="255" class="form-control">
      <div *ngIf="f['nome'].touched && f['nome'].invalid" class="text-danger">
        <div *ngIf="f['nome'].errors?.['required']">
          Nome é necessário.
        </div>
      </div>
    </div>

    <!-- Campo para Email -->
    <div class="form-group">
      <label for="email">Email:</label>
      <input formControlName="email" id="email" type="email" maxlength="255" class="form-control">
      <div *ngIf="f['email'].touched && f['email'].invalid" class="text-danger">
        <div *ngIf="f['email'].errors?.['required']">
          E-mail é necessário.
        </div>
        <div *ngIf="f['email'].errors?.['email']">
          Desculpe, mas o e-mail é inválido.
        </div>
      </div>
    </div>

    <!-- Campo para Senha -->
    <div class="form-group">
      <label for="senha">Senha:</label>
      <input formControlName="senha" id="senha" type="password" maxlength="255" class="form-control">
      <div *ngIf="f['senha'].touched && f['senha'].invalid" class="text-danger">
        <div *ngIf="f['senha'].errors?.['required']">
          Senha é necessária.
        </div>
      </div>
    </div>

    <!-- Campo para Confirmar Senha -->
    <div class="form-group">
      <label for="confirmSenha">Confirmar Senha:</label>
      <input formControlName="confirmSenha" id="confirmSenha" type="password" maxlength="255" class="form-control">
      <div *ngIf="f['confirmSenha'].touched && f['confirmSenha'].invalid" class="text-danger">
        <div *ngIf="f['confirmSenha'].errors?.['required']">
          É preciso confirmar a senha.
        </div>
      </div>
      <div *ngIf="form.get('senha')?.value !== form.get('confirmSenha')?.value" class="text-danger">
        Opa... As senhas não são iguais.
      </div>
    </div>

    <!-- Botão de envio do formulário -->
    <button class="btn btn-primary" type="submit"
      [disabled]="!form.valid || form.get('senha')?.value !== form.get('confirmSenha')?.value">Submit</button>
  </form>
</div>